@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Judson:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

:root {
    --judson-font: 'Judson', serif;
    --inika-font: 'Inika', serif;
    --poppins-font: 'Poppins', sans-serif;
    --inter-font: 'Inter', sans-serif;
    --belanosima-font: 'Belanosima', sans-serif;
}

/* Degradado de Fondo */
.gradient-background {
    background: #E0DDDD;
    background: linear-gradient(180deg, rgba(224, 221, 221, 1) 0%, rgba(230, 230, 230, 1) 100%);
}
/* Nombre Logo */
.titulo {
    font-family: var(--judson-font);
    font-size: 35px;
    color: #333;
}
.logo {
    width: 45px;
    transform: rotate(-180deg);
}
.texto-botones {
    font-family: var(--inika-font);
    font-size: auto;
    font-weight: 500;
}
.poppins {
  font-family: var(--poppins-font);
}
.inter {
  font-family: var(--inter-font);
}
.uppers {
  text-transform: uppercase;
}
.judson {
  font-family: var(--judson-font);
}
.belanosima {
  font-family: var(--belanosima-font);
  font-weight: 300;
}

/* Efecto */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}
.delay-200 {
  animation-delay: 0.2s;
}
